/*-------Tahoma-------*/
@font-face {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 500;
    src: url("fonts/Tahoma.eot");
    src: url("fonts/Tahoma.eot?#iefix") format("embedded-opentype"),
        url("fonts/Tahoma.woff") format("woff"),
        url("fonts/Tahoma.ttf") format("truetype");
}

@font-face {
    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700;
    src: url("fonts/Tahoma-bold.eot");
    src: url("fonts/Tahoma-bold.eot?#iefix") format("embedded-opentype"),
        url("fonts/Tahoma-bold.woff") format("woff"),
        url("fonts/Tahoma-bold.ttf") format("truetype");
}
/*-------Tahoma-------*/